<form method="POST" action="/new">
  <label for="name">name</label>
  <input type="text" id="name" name="name" />
  <label for="message">message</label>
  <input type="text" id="message" name="message" />
  <button>submit</button>
</form>
